name: Code check

on:
  push:
  pull_request:
    branches:
      - master
      - develop

  workflow_dispatch:
jobs:
  lint:
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        node-vervison: [12.x]
    
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1 
        with:
          node-version: ${{ matrix.node-version }}
      - run: cd urban-fiesta-client yarn install
      - run: cd urban-fiesta-client yarn lint
